<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".h1"%></h1>

  <h2>
    <%= t ".h2"%>
  </h2>

  <%= link_to t(".signupnow"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
