<%= form_for [commentable, Comment.new] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Add a comment" %>
  </div>
  <div class="clearfix">
    <%= f.submit t("comments.send"), class: "btn btn-primary send-btn" %>
  </div>
<% end %>
