<%= link_to review_likes_path(review), method: :post, remote: true do %>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-thumbs-up" style="font-size:14px;"></span>
      Like
  </button>
<% end %>
