<li>
  <%= link_to tour_detail.tour.name, tour %>
  <% if current_user&.admin? %>
    | <%= link_to t(".delete"), tour, method: :delete,
                                  data: { confirm: t(".confirm") } %>
  <% end %>
  <% if current_user&.admin? %>
    | <%= link_to t(".update"), edit_tour_path(tour) %>
  <% end %>
</li>
