# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 16f678e0fd8f6a8b4cfc23a94eacd5e5f080af8b69b4b1c8d5ef0092c365ee98eb4ddab0b340bdc90f6159154109d37ee8e31064fa22329a0d30a90db06999cf
  paypal_host: https://www.sandbox.paypal.com
  app_host: https://59a12285.ngrok.io

test:
  secret_key_base: 81cf074634fcaa5197f4e35369f19bcec5afb418d065ca09535dff70f803e88a2026bd131752766de905594732b060f299baa7a48b4bc7baa1abb61f39facf3d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  paypal_host: https://www.paypal.com
  app_host:
