<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>

<div class="add_btn">
  <%= link_to revenue_detail_revenues_path, class: "btn btn-sm btn-info" do %>
    <%= t ".revenue_detail_btn" %>
  <% end %>
</div>



<%= bar_chart Revenue.includes(tour_detail: :tour)
                     .group("name").sum(:revenue), prefix:"£" %>
